@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
/* WALLPAPER */
#lowercontents, .main-contents , .main-sections.thread-window {
    background-image: url(https://luna.kissu.moe/test/src/1638177030971.png), linear-gradient(#21429A, #7728C6);
    /*background-position: 0% 0%;*/
    background-repeat: repeat-xy; 
    background-attachment: fixed;
    /*animation-delay: 1s*/
    animation-timing-function: linear;
    animation-name: nekomimi; 
    animation-duration: 2000s; 
    animation-iteration-count:infinite;
    box-shadow: 0 0px 13px 10px #7329c4;
}
@keyframes nekomimi {  
0% { background-position: 4000% 0%; }  
100% { background-position: 0% 9000%;}
}

/* NAME COLOR */
.intro span.name , .poster-info{
font-family: 'Lemonada', cursive;
 background-image:linear-gradient(to left,violet,#7E00FF,#0092FF,#35FF00,yellow,orange,red);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
 text-shadow:0 0 0 transparent;
	font-weight: bold;}

/* MASCOT */
#delete-form, #thread_form , #ukko-form {
background-image: url(/test/src/1638243646829.png);
background-size: 40%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom right;
}

@-moz-document url-prefix() {
  .mascot-img{
      background-image: url(/test/src/1638243646829.png);
  }
}



/* REPLY BOX */

div.post.reply, .reply > .post-contents {
background-image: url(https://luna.kissu.moe/test/src/1638247860118.png) , linear-gradient(45deg, rgba(90,0,21,0.55) 0%, rgba(26,0,90,0.55) 100%)  !important;
-webkit-box-shadow: 5px 5px 15px 5px #7C5EFF, -3px 5px 15px 3px rgba(255,87,94,0.66); 
box-shadow: 5px 5px 15px 5px #7C5EFF, -3px 5px 15px 3px rgba(255,87,94,0.6);
   background-position: bottom right !important;
   background-repeat: no-repeat !important; 
min-height: 90px;
background:unset;

}

/* MAIN POST FONT AND PLAIN BACKGROUND*/
html, body, div.pages , .sidebar-container ,.fixable-sidebar-reference , .side-segment  {
color: #ffdff2 !important;
text-shadow: #000000 1px 1px 0, 2px 2px 2px rgba(0,0,0,0) !important;
background: linear-gradient(90deg, rgba(33,66,154,1) 0%, rgba(119,40,198,1) 100%);  
}

p, .preview{
color: #ffdff2 !important;
}
.toggles ,.sidebar-title-header, h2, .preview-container > h4, h4, h3, .startup-window-contents h3, .updater ,.page-list-item,.options-opener, .filter-toggle, .sage , .featured-section, .friend-section {
color:unset;
background:unset;
text-shadow:unset;
}

/* BOARD NAMES AT TOP, SOME OTHER TEXT */
a, a:visited , .kissu-link.page-number{
    text-decoration: underline;
    color: #eb9f9f;
}


/*TEXT HOVER COLOR */
a:hover, .intro a.post_no:hover {
	color: #F9DA66;
}

/* POST NUMBER REFERENCE >>#### */
.body a{
    color: #bba9ff !important;
    text-shadow: #000000 1px 1px 0 !important;
}


/* TEXT LINK COLOR */
a:link {
       color: #e3e3ff;
}

/* QUOTING */
span.quote {
    color: #8affb3;
}


/* BOARD NAME */

h1, header div.subtitle {
color: #fff0fb;
text-shadow: 2px 2px 10px #FF008F, -2px 2px 5px #0D50FF;
font-family: 'Macondo Swash Caps', cursive;
text-align: center;
}


/* QR */
.handle  {
    background-color: unset;
	background:unset;
}

#quick-reply {
    background: #3e157c;
}
form table tr th {
    background: #9871d0;
}
#qr-handle ,#startup-window-handle , #page-frame-handle {
    background-color: #574aae;
}
.qr-comment{
background:white;
color:black;
}
.helper-item-container{
background:#eaeaea;
color:#8e8c8c;
}
.qr-filebar {
    background: #6567ae;
}

/* MISC */
#options_div, #alert_div , .options-window {
    background-color: #6f2ac2;
    border: 1px solid #ffdff2;
    background:#6f2ac2;
}
#opts-window-handle {
    background: #7175bf;
}
.options_tab_icon{
color:unset;
}

form table {
    background: unset;
}

.button , .qr-button{
background:linear-gradient(0deg, #b893e3 0%, #724da2 18%, #8e92d5 100%);
}
input, .active, .top-content {
    background-color: #7375c0;
    color: white;
}
.footer-form > label{
color:unset;
background:unset;
}
.helper-item{
text-shadow:none;
}

.modifier-on, .current-bud{
background:#7175bf;
}
.fileboard-body > tr:nth-child(2n+1){
background-color:#481448;
}
.popular-thread-comment, .popular-thread-board, .summary-time, .summary-board, .stats-table , input[type="submit"] {
    color: unset !important;
}
#startup-window-handle{
	color:unset;
}
.startup-window {
    background: #9b62df;
}
.news-header {
    color: unset;
}
.friend-description, .global-search-label, .curent-board , .page-list-item.current-page > .page-number {
    color: #eaadad;
}
.colored-writeup, .friend-item, .error-img-container, .category-container {
    color: unset;
    background: #3c3aa8;
}
.summary-container.summary-on {
    background: inherit;
}
.preview {
    background: #fff0;
}
h4 {
    background: #7175bf !important;
}
.preview.reply .post-contents {
    background: #5592db;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-image: none;
}
.pv-ommitted {
    margin: 0;
}
