/*
Miku custom css to modify give the site a vocaloid theme. 
Work by cool-guy, fixed and converted by ECHibiki
*/

body {
cursor: url(/test/src/1615240453199.png), auto;
 -webkit-animation: cursor 1000ms infinite;
 animation: cursor 1000ms infinite;
}
@-webkit-keyframes cursor {
  12.5% {cursor: url(/test/src/1615240453199.png), auto;}
  25% {cursor: url(/test/src/1615240548369.png), auto;}
  37.5% {cursor: url(/test/src/1615240555317.png), auto;}
  50% {cursor: url(/test/src/1615240563621.png), auto;}
  62.5% {cursor: url(/test/src/1615240570637.png), auto;}
  75% {cursor: url(/test/src/1615240577294.png), auto;}
  87.5% {cursor: url(/test/src/1615240589434.png), auto;}
  100% {cursor: url(/test/src/1615240595625.png), auto;}
}
@keyframes cursor {
  12.5% {cursor: url(/test/src/1615240453199.png), auto;}
  25% {cursor: url(/test/src/1615240548369.png), auto;}
  37.5% {cursor: url(/test/src/1615240555317.png), auto;}
  50% {cursor: url(/test/src/1615240563621.png), auto;}
  62.5% {cursor: url(/test/src/1615240570637.png), auto;}
  75% {cursor: url(/test/src/1615240577294.png), auto;}
  87.5% {cursor: url(/test/src/1615240589434.png), auto;}
  100% {cursor: url(/test/src/1615240595625.png), auto;}
}

#lowercontents {
background-image: url(/test/src/1615231795970.gif);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom right;
}

@-moz-document url-prefix() {
  .mascot-img{
      background-image: url(/test/src/1615231795970.gif);
  }
}
.mascot-img {
    content:url("/test/src/1615231795970.gif");
    width: 280px;
    height: 250px;
    object-fit: cover;
    border: 1px solid #0000;
}

div.post.reply, .reply > .post-contents {
   background-image: url(/test/src/1615231843197.gif) !important;
   background-position: top right !important;
   background-repeat: no-repeat !important;
}
